* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-image: url(./clock.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}